
/* Roboto font  from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

body {
    background-color: #E9E9E9;
}



/*** HEADER ***/

header {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    #header-logo {
        width: 100px;
        height: 100px;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        gap: 2em;
        
        #menu-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            /* gap: .5em; */
            
            a,
            a:visited {
                color: black;
                font-size: 1.2em;
                font-weight: bold;
                padding: .5em;
                
                &:hover {
                    text-decoration: underline;
                    transform: scale(1.025);
                    color: #e28113;
                }
            }
        }

        #login-btn {
            background-color: #EF850D;
            border-radius: 15px;
            border: none;
            color: white;
            font-size: 24px;
            font-weight: 600;
            padding: 24px 36px;
            cursor: pointer;

            &:hover {
                background-color: #e28113;
            }
        }
    }
}



/*** HERO ***/

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

#hero-left,
#hero-right {
    width: 50%;
    border-radius: 2em;
    overflow: hidden;
}

#hero-left {
    padding: 2em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    .cta {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }
}

#slogan {
    font-size: 3em;
    font-weight: 100;
}

#discover-btn,
#interested-btn {
    background-color: #EF850D;
    padding: 24px 36px;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 600;

    &:hover {
        background-color: #e28113;
        cursor: pointer;
    }
}

#interested-btn {
    background-color: #1A2C41;

    &:hover {
        background-color: #0f1a27;
    }
}

#partenaires {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#partenaires img {
    /* width: 100px; */
    height: 100px;
    border-radius: .5em;
    
    &:hover {
        box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    }
}


#hero-right img {
    width: 100%;
    height: auto;
}